h3{
  /* font-family: 'Sacramento', georgia; */
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-style: oblique;
  font-size: 100px;
  color: white;
  text-decoration: underline;
}

.images img {
  //background-image: url("https://hairstyles.thehairstyler.com/hairstyle_views/front_view_images/8376/original/Giada-De-Laurentiis.jpg")
  border: 1px solid white;
  height: 50%;
  width: 100% ;
  text-align: center;
}

body{
  background-color:#F0E68C;
}

footer{
  color: black;
  font-family: 'Montserrat', serif;
  position: absolute;
  bottom: 15px;
  left: 45%;
}

.column {
  width: 50%;
  float:left;
}

.column img{
  width: 80%;
}

.column p{
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}
