h1{
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-style: oblique;
  font-size: 100px;
  color: white;
  text-decoration: underline;
}


#Italian{
  font-family: 'Sacramento', cursive;
  color: white;
  font-size: 50px;
  text-align: left;
  display: inline-block;
  text-decoration: underline;
}

#French{
  font-family: 'Sacramento', cursive;
  color: white;
  font-size: 50px;
  float: right;
  display: inline-block;
  text-decoration: underline;
}

#Italian_images{
  float:left;
  display: inline-block;
}

#french_images{
  float:left;
  display: block;
  width: 100%;
}

#french_images img{
  height: 200px;
}

#Italian_Chef{
  color: white;
  text-align: left;
  display:inline-block;
}

#French_Chef{
  color: white;
  text-align: left;
  float: left;
  display: block;
  font-family: serif;
  font-size: 15px;
}


body{
  background-color: #ffff66;
}

footer{
  color: white;
  font-family: 'Montserrat', serif;
}
