h1{
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-style: oblique;
  font-size: 100px;
  color: black;
  text-decoration: underline;
}

#images{
    display: block;
    margin-left: 25px;
}

p{
  text-align: left;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #F0E68C;
}

.column {
  float: left;
  width: 35%;
  height: 300px;
  display: block;
}

.row{
  width: 100%;
  display: block;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
