h1{
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-style: oblique;
  font-size: 100px;
  color: black;
  text-decoration: underline;
}

a{
    text-decoration: none;
}

img{
  float: left;
}

h3{
  /* font-family: 'Sacramento', georgia; */
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-style: oblique;
  font-size: 100px;
  color: white;
  text-decoration: underline;
}

.images img {
  //background-image: url("https://ak.picdn.net/offset/photos/valeria.necchio@gmail.com/medium/photo.jpg")
  border: 1px solid white;
  height: 30%;
  width: 40% ;
  text-align: center;
}

body{
  background-color:#F0E68C;
}

footer{
  color: black;
  font-family: 'Montserrat', serif;
  /* bottom: 15px; */
  margin-top: 11%;
  left: 45%;
}
