h1{
  font-size: 100px;
  text-align: center;
  font-style: oblique;
  font-family: 'Sacramento' cursive;
  color: black;
}

h3{
  font-size: 25px;
}

a{
    text-decoration: none;
}

body{
  background-color:#F0E68C;
}

.column {
  width: 50%;
  float: left;
}

.column img{
  width: 80%;
}

footer{
  margin-top: 11%;
  left: 45%;
  color: black;
}

h2{
  font-size: 20px;
}
